[2015-08-04 10:58] gusaiani opened #3 "How to install"
Hi Sean,

tried to put slim_fast to work.
Created a blank Phoenix app.
Added package as dependency in `mix.exs` like all others.
Ran `mix deps.get`.

Then I tried a few things, ranging from simply changing my template’s suffix to `.slim` to adding `SlimFast.evaluate(slim, site_title: "Website Title")` to different files,  none of which worked :)

Can you give us some pointers on how to put it to w

[2015-08-04 17:08] doomspork commented on #3
Hey @gusaiani!

SlimFast's first issue, hooray :tada:

I have not yet looked at Phoenix integration but I will do that this week and get back to you.  My goal has been to get the parser as complete as possible then focus on making the package easier to use with Phoenix.

Let's leave this open and I will update it soon.

[2015-08-04 17:56] doomspork commented on #3
I found this package for supporting HAML in Phoenix: https://github.com/chrismccord/phoenix_haml.  I'm going to read a bit more and figure out whether a separate package is necessary or not.

[2015-08-04 21:18] doomspork commented on #3
Okay @gusaiani, I believe I've got what you want.  When you have a chance could you take a peek and see if things work for you?  The Phoenix integration is in a new package here: [phoenix_slim](https://github.com/doomspork/phoenix_slim).

Please keep in mind there may still be issues with the parser.

Thanks!

[2015-08-04 22:17] gusaiani commented on #3
Yup, it did work in a tiny app/template and I thank you very very much for that.
It seems that live reload is not happening at the moment.
Even though I might even trade live reload for `phoenix_slim`, I’ll test that further ;)
In fact, I'll begin porting my app and letting you know if I see crazy stuff (with fixes if I’m able).

Again: many thanks!

[2015-08-04 22:22] doomspork commented on #3
I'll ask around this week and see if I can't make progress on live reloading.  Thanks again for your interest!

[2015-08-05 00:17] doomspork commented on #3
@gusaiani I'm going to close this.  If you'd like to update the README with a note about Phoenix integration via `phoenix_slim`, I'd be glad to merge.

[2015-08-05 00:23] gusaiani commented on #3
Awesome. Thanks!

[2015-08-05 01:00] #3 closed

[2015-08-05 05:01] doomspork opened #6 "Support single quoted attributes"
[code]

Relevant code: https://github.com/doomspork/slim_fast/blob/master/lib/slim_fast/parser.ex#L76

[2015-08-05 05:03] doomspork opened #7 "Support multi-line verbatim text"
SlimFast supports verbatim and verbatim w/ whitespace but only on one line.  Per the slim documentation, any subsequent lines with a deeper indentation are included.

[2015-08-05 05:05] doomspork opened #8 "Add support for comments"
Slim docs: https://github.com/slim-template/slim#code-comment-

Add support for code comments, html comments, and IE conditions.

[2015-08-05 05:08] doomspork opened #9 "Inline HTML"
Add support for inline HTML, relevant docs: https://github.com/slim-template/slim#inline-html-

[2015-08-05 09:17] smeevil opened #10 "support for attributes values containing an equal sign in them"
example :

meta content="width=device-width, initial-scale=1", name="viewport"

[2015-08-05 09:22] smeevil opened #11 "Support boolean attributes"
input(type="password" required)

should become <input type="password" required>

[2015-08-05 09:28] smeevil opened #12 "support for dashed-classes"
.my-css-class test

should become
<div class="my-css-class">test</div>

currently :
<div class="some-thing">-thing test</div>

[2015-08-05 14:33] #9 closed

[2015-08-05 14:34] doomspork commented on #6
Closed in #13

[2015-08-05 14:34] #6 closed

[2015-08-05 14:36] doomspork commented on #11
I was looking at this one last night, thanks for adding it.  I updated the title since I _believe_ this only applies to boolean attributes: https://github.com/slim-template/slim#boolean-attributes

Thanks!

[2015-08-05 14:39] doomspork commented on #10
Good catch, thank you @smeevil.

[2015-08-05 14:40] doomspork commented on #12
I'm going to consider this one a bug as I thought this functionality existed, I'll look at this one first.

Thanks @smeevil!

[2015-08-05 15:17] #12 closed

[2015-08-05 15:18] doomspork commented on #12
This should be fixed in master @smeevil, I will prepare a patch release shortly.

[2015-08-05 17:16] Rakoth commented on #10
Hi, I have an easy fix for this one, https://github.com/Rakoth/slim_fast/commit/a015015a2e002f004ffdb72562e50e49c878d090
Did I miss something or I can go on with PR?

[2015-08-05 17:22] doomspork commented on #10
Looks good to me @Rakoth :+1:

[2015-08-05 17:26] doomspork commented on #11
@Rakoth just a heads up I'm working on this one.  I should have a PR by the end of the day (PST), I'd love to get your feedback!

[2015-08-05 19:09] #10 closed

[2015-08-07 17:36] doomspork opened #18 "Add moduledocs to project"
Document the project modules with `moduledoc` where appropriate.

[2015-08-07 21:19] #8 closed

[2015-08-08 03:06] doomspork opened #20 "Leading and trailing whitespace"
Support leading and trailing whitespace with `<` and `>`: https://github.com/slim-template/slim#trailing-and-leading-whitespace--

[2015-08-10 11:53] gusaiani commented on #7
+1

Just tried to write a `<pre>` tag:

[code]

and it didn’t get formatted as it does in Rails.
Looks like what you’re describing in the issue I suppose.

[2015-08-10 16:51] Rakoth commented on #7
I am working on this.

[2015-08-10 16:52] doomspork commented on #7
That's great @Rakoth, thank you! :+1:

[2015-08-10 17:12] gusaiani commented on #7
:+1: @Rakoth

[2015-08-11 05:04] #7 closed

[2015-08-11 13:22] smeevil opened #23 "setting style via variable"
A case i found :

[code]

renders to :
[code]

where the problems is `style="display:" none=""` which should be `style="display: none"`

[2015-08-11 13:26] smeevil opened #24 "setting additional class (via variable)"
using
[code]
results in
[code]
and should be
[code]

[2015-08-11 15:30] doomspork commented on #24
Thanks @smeevil :+1:

[2015-08-12 14:56] smeevil opened #25 "evaluation with character sequence 'do' in a word"
After a lot of head scratching I found the following :

`=number_input f, :amount, class: "js-donation-amount"`

This blows up with :
[code]

This happens when I use any character sequence containing "do" in it for the class: attribute
It seems it's not limited to the class attribute though but any for that matter.

[2015-08-12 15:28] doomspork commented on #25
Great report @smeevil!  We will look into this

[2015-08-12 16:53] #25 closed

[2015-08-12 17:02] Rakoth commented on #23
@doomspork Should I fix it now, or wait until #16 is merged?

[2015-08-12 17:59] doomspork commented on #23
@Rakoth you can fix.  I'll release 0.5.0 with your fix and other features.  Once #16 is done I'll ship 0.6.0.

[2015-08-12 18:00] doomspork commented on #25
Thanks so much @Rakoth, you're a machine! :+1:

[2015-08-12 18:19] #23 closed

[2015-08-12 20:00] #24 closed

[2015-08-13 08:29] smeevil commented on #25
You guys are awesome ! :heart:
First two weeks working with elixir / phoenix so as soon as I have a bit of a better understanding of it , I'll hope I can be of more use !

[2015-08-13 18:03] doomspork commented on #25
Thanks @smeevil.  We'd welcome your contribution!

[2015-08-14 17:57] #11 closed

[2015-08-30 22:25] doomspork opened #28 "Add support for CLI"
It would be great to have `slim_fast` accessible on the command line.  Additionally, it might be fun to benchmark the original Ruby implementation of `slim` against `slim_fast`.

[2015-08-30 22:27] doomspork opened #29 "Sample Projects"
It might be helpful to put together sample projects for integrating `slim_fast` into a Plug and Phoenix app.

[2015-09-08 22:13] henrik opened #31 "Doesn't support "p: b hello" syntax"
Slim: `p: b hello`

Expected HTML: `<p><b>hello</b></p>`

Actual HTML: `<p>b hello</p>`

http://www.rubydoc.info/gems/slim/frames#Inline_tags

[2015-09-08 22:20] henrik opened #32 "Code-as-attributes doesn't work, e.g. src=static_path(@conn, "x.css")"
This gives a "missing terminator" error:

[code]

This works, though:

[code]

The equivalent of the first example works in the Ruby version of Slim.

Maybe it could make sense to include a valid example of a dynamic attribute value in the README docs?

[2015-09-08 22:30] henrik opened #33 "Doesn't support else (?)"
Had no luck with this:

[code]

So I ended up working around it like this:

[code]

[2015-09-08 22:36] henrik opened #34 "No way to conditionally add attribute?"
I want to either set the "checked" attribute of a checkbox, or to have no such attribute at all. Because if the attribute is present but the value is e.g. an empty string, the box is still considered to be checked.

Not sure how to do this with slim_fast. Tried things like:

[code]

Ended up working around it by rendering the entire element in two different logic branches:

[code]

[2015-09-09 05:17] doomspork commented on #32
Thanks @henrik, this looks like a bug.

[2015-09-09 05:34] henrik commented on #34
IIRC if you pass a nil value to an attribute in Ruby Slim, the attribute is not included.

[2015-09-09 05:36] doomspork commented on #33
This is a bug, thanks for filing @henrik.

[2015-09-09 05:36] henrik commented on #32
Glad to see this library is alive and well and being maintained :) Thanks so much for all the hard work!

Sent from my iPhone

[2015-09-09 05:46] doomspork commented on #34
I think this is also a bug, thanks for filing @henrik.

[2015-09-09 05:48] doomspork commented on #32
You're welcome!  Myself or @Rakoth will take a look at these bugs.  Thanks again for taking the time to file them.  :+1:

[2015-09-09 05:53] doomspork commented on #33
Including some addition information about the bug.

This is what we aim to support:

[code]

But right now this is what it compiles to:

[code]

The issue is likely somewhere around here: https://github.com/doomspork/slim_fast/blob/master/lib/slim_fast/compiler.ex#L59

[2015-09-09 05:58] doomspork commented on #34
For the `nil`/`false` value attributes, these two should currently work:

[code]

They result in something like:

[code]

However, if the attribute is wrapped in `#{}` it does not work.  For instance, either of these:

[code]

Will produce:

[code]

@henrik could you open a second issue for the `nil`/`false` computed attribute value?

[2015-09-09 06:24] Rakoth commented on #32
Hi @henrik, we have some problems with elixir code with spaces as attribute values.

[code]

should work for you now

[2015-09-09 06:49] henrik commented on #34
Hm, forgot to mention the first thing I tried: `hidden=@meta` doesn't work when `@meta` is `false` (it sets `hidden="false"` – eventhough `hidden=false` does work.

Not sure I understand what you mean about the second issue. It seems very reasonable to me that `hidden="#{false}"` would not work.

[2015-09-09 14:18] doomspork commented on #34
I didn't quote the attribute in my example.  I would expect these to work differently:  `hidden=#{false}` vs `hidden="#{false}"`

[2015-09-09 15:10] henrik commented on #34
Aah, you didn't. Cool, not sure if you can use an unquoted #{} like that in Ruby Slim.

[2015-09-09 15:23] doomspork commented on #34
Good catch, you might be right @henrik.  I'll take a look.

[2015-09-10 16:15] doomspork commented on #32
This one is going to take some regex magic to sort out.  The offending regex at [parser.ex#L25](https://github.com/doomspork/slim_fast/blob/master/lib/slim_fast/parser.ex#L25), specifically this part: `[^\s"'][^\s]+[^\s"']`.  We need to update the regex to allow spaces within `()` if present.

[2015-09-10 16:17] doomspork commented on #34
@Rakoth any thoughts on this one?  This is going to be tough since we only evaluate the EEx at the very last step.  In order to support this I believe we'll need to evaluate each and every EEx attribute and discard the `false` and `nil` values during the compile step.

[2015-09-10 17:54] henrik commented on #32
@Rakoth Thanks for the workaround!

Regarding the regex, I believe checking for balanced parentheses (if we want to allow `href=foo(a, b())` but not `href=foo(a, b()` is one of those things that "pure" regexps can't support. But Erlang/Elixir's flavor seems quite full-featured, so I'm sure there's something in there. More info: http://stackoverflow.com/questions/133601/can-regular-expressions-be-u

[2015-09-10 17:56] henrik commented on #32
This seems applicable: http://www.erlang.org/doc/man/re.html#sect20

No time to dig further into it now I'm afraid, but maybe later if you don't beat me to it (feel free).

[2015-09-10 20:14] henrik commented on #32
Experimenting with the linked regexp, I get this:

[code]

With output:

[code]

So it handles nested parentheses but parentheses inside a string can mess it up. Handling those (and maybe accounting for escaped quotes inside strings…) could get hairy. I'm thinking if this should be handled perfectly, a regexp probably isn't the way to go.

[2015-09-24 16:32] #33 closed

[2015-09-25 05:27] #34 closed

[2015-09-25 19:53] henrik opened #37 "Over-escaped quotes in attributes"
Seems like with 0.7.1, this:

[code]

Started producing this output:

[code]

Which breaks styling because the quotes are over-escaped.

Same result if I try

[code]

(without a space after the comma, due to #32)

[2015-09-25 21:06] doomspork commented on #37
Thanks for the report @henrik, I'll look into it this afternoon.

[2015-09-27 11:17] Rakoth commented on #37
Hi, @henrik could you please provide a failing test case? I cannot reproduce it.

[2015-09-27 12:24] henrik commented on #37
Maybe there's something else about my project setup that plays into this.

You should be able to see the issue with something like

[code]

[2015-10-03 03:51] ivanyv commented on #37
I'm having the same issue, just created a barebones phoenix app and added the phoenixslim dependency. Just began with elixir/phoenix today so not enough knowledge to create a test case :(

[2015-10-04 13:23] unitymind commented on #37
Confirm this issue. Exactly as described.

[2015-10-04 18:00] doomspork commented on #37
Thanks for the reports guys.  I believe @Rakoth took a look at this any was unable to repo.  @unitymind or @ivanyv can you provide a test case that we can use?

I'll take a look at this today or tomorrow.

[2015-10-04 18:12] henrik commented on #37
I linked my tiny Phoenix app above: maybe you can repro in there.

Sent from my iPhone

[2015-10-04 18:39] doomspork commented on #37
Thanks @henrik, I can take a peek but as you said yourself "Maybe there's something else about my project setup that plays into this.".  A single failing test case lets us focus on the actual bug instead of wrestling potentially unrelated bugs or configuration issues.

I'll take a stab at putting together some test cases for this.

[2015-10-04 18:53] henrik commented on #37
Sure. If all else fails, though, going from an error-in-app to figuring out a failing test case could be an option. It's a tiny, tiny Phoenix app.

Sent from my iPhone

[2015-10-05 10:31] unitymind commented on #37
Here is initial Phoenix app: https://github.com/unitymind/boozeup
Where is take a look into `web/templates/layout/app.html.slim`

[2015-10-05 19:11] #37 closed

[2015-10-05 19:15] doomspork commented on #37
0.7.2 has been released and should include a fix for this thanks to @Rakoth!

[2015-10-05 21:31] henrik commented on #37
@doomspork @Rakoth Thanks so much! :balloon:

[2015-10-09 03:48] #31 closed

[2015-10-09 14:47] #20 closed

[2015-10-09 19:27] henrik commented on #31
You're on fire! :fire: :fire_engine:

Great job :)

[2015-10-09 19:31] henrik opened #41 ""__v" warnings"
Warnings when booting Phoenix:

This looks a likely culprit: https://github.com/doomspork/slim_fast/blob/c1b581fc0e222d54eeef98761f72c3fa874b28dd/lib/slim_fast/compiler.ex#L18

[2015-10-09 19:37] doomspork commented on #41
You're on top of it @henrik, thanks!  Would you like to take a stab at fixing this one?  I haven't reproduced it myself but it suspect it will be straightforward.

[2015-10-09 19:44] henrik commented on #41
Sure, I'll give it a shot!

[2015-10-09 19:44] henrik commented on #41
I'm on Elixir 1.1.1 – maybe the warning is a new thing.

[2015-10-09 19:45] doomspork commented on #41
Edit:  Nevermind.  I'll check out 1.1.1.

These all work as expected but none raise a warning:

[code]

[code]

[code]

[2015-10-09 19:48] doomspork commented on #41
Definitely a 1.1.1 warning, just confirmed.  Have a go at it @henrik :+1:

[2015-10-09 19:49] henrik commented on #41
How about this: https://github.com/doomspork/slim_fast/pull/42

[2015-10-09 19:52] doomspork commented on #41
Closed via #42, thanks again @henrik :+1:

[2015-10-09 19:52] #41 closed

[2015-10-09 20:05] doomspork opened #43 "Support closed tags"
This:
[code]

Should produce this:
[code]

ExUnit sample (`test/renderer_test.exs`):
[code]

Slim docs: [Closed tags](http://www.rubydoc.info/gems/slim/frames#Closed_tags__trailing___)

[2015-10-09 20:12] doomspork opened #44 "Support splat attributes"
Splat converts a hash into attribute key/value pairs.

Slim:

[code]

HTML:

[code]

See slim docs: [Splat Attributes](http://www.rubydoc.info/gems/slim/frames#Splat_attributes__).

[2015-10-09 20:14] doomspork opened #45 "Support dynamic tags"
Allow for the creation of tags using attribute splats.  Attributes should include a `:tag` key.

See Slim docs: [Dynamic Tags](http://www.rubydoc.info/gems/slim/frames#Dynamic_tags__)

[2015-10-09 20:22] doomspork opened #46 "SlimFast v1.0"
After reviewing the Slim documentation ([here](http://www.rubydoc.info/gems/slim/frames)) it appears that we are almost at feature parity with the Ruby implementation.  To me reaching feature parity would constitute a v1.0 of SlimFast.  With that in mind I attempted to identify the outstanding functionality and created issues where necessary:

+ [x] Closed tags (#43)
+ [ ] Splat attributes (#44)
+

[2015-10-09 20:24] doomspork opened #47 "Benchmark SlimFast and Ruby Slim"
I think it would be interesting to compare SlimFast and the original Slim implementation.  Putting together a simple benchmark could be fun.

[2015-10-10 21:18] henrik opened #48 "Textarea adds blank lines"
When I upgrade a project from slim_fast 0.7.0 to 0.9.1, the Slim code

[code]

that previously on 0.7.0 would output

[code]

now on 0.9.1 outputs

[code]

This leads to extra linebreaks in the received input, that were not intended.

[2015-10-10 21:21] henrik commented on #48
Looking into this myself. Happens with `textarea = "foo"` but not `textarea foo`

[2015-10-10 21:23] henrik commented on #48
Failing test:

[code]

Will see if I can figure out how to fix it, too, but I suspect that's trickier.

[2015-10-10 21:27] henrik commented on #48
This change will fix my test but break a bunch of others:

[code]

<strike>Don't want to wrap my head around this now, so I think I'll leave it at that :)</strike>

[2015-10-10 21:48] henrik commented on #48
I don't completely understand why those newlines are being added. They're also added e.g. inside `<title>` which seems weird. So the simplest fix would just be to not add those newlines anywhere, but I guess there's some reason they were introduced?

If the newlines should remain, I did figure out how to skip them for textareas only, though it's not super pretty: https://github.com/henrik/slim_fas

[2015-10-11 03:45] doomspork commented on #48
Hey @henrik!  I haven't had a chance to look into this yet but I suspect [this PR](https://github.com/doomspork/slim_fast/pull/35) is to blame for the newlines.

[2015-10-11 11:22] henrik commented on #44
Crucially, the hash can be returned indirectly:

[code]

I guess in Elixir, it could make sense to support expressions that evaluate to any type of dict, whether that's a keyword list or a map.

As for literal hash syntax, do you think it makes more sense to support the Ruby hash syntax (in your example above) for compatibility with Ruby-Slim, or to instead use some (or every) Elixir dict syntax?

[2015-10-11 11:43] henrik opened #49 "Should we allow "- if" (not just "= if")?"
In Ruby Slim, you can do

[code]

In slim_fast, you must do

[code]

Are there strong reasons to deviate?

[2015-10-11 12:33] henrik commented on #47
Made a start of this here: https://github.com/henrik/slim_fast_benchmarks

It's not complete and does not run Ruby Slim. Just intended as a beginning.

Mostly because I was curious about how to set it up. Added you as a collaborator, @doomspork. You know more about the library – please feel free to change it, move the repo etc. Not sure if I'll spend more time on it, at least not for a while.

[2015-10-11 12:37] henrik commented on #47
And if you want to bench it in a different way (maybe this setup is not a good way to test slim_fast and Ruby Slim against each other), don't feel that you have to use my code at all. Just wanted to look into Elixir benching a little :)

[2015-10-11 16:43] doomspork commented on #47
This is great @henrik, thank you!  I haven't used benchmarking in Elixir yet so this is a great start.  I'll try to set aside some time to pull this down and play with it.

[2015-10-11 16:52] doomspork commented on #49
I'm pretty sure I did this because it's what `eex` requires:

[code]

We could certainly support this though by handling it under-the-hood.

[2015-10-11 16:54] doomspork commented on #44
Sorry those examples were copied and pasted directly from the Slim documentation, we should definitely use Elixir dict syntax.

[2015-10-11 16:55] doomspork commented on #49
@henrik would you like to tackle this one?

[2015-10-12 20:35] henrik commented on #44
:thumbsup:

[2015-10-13 00:50] doomspork commented on #49
I think we can pull this off by changing this:

[code]

To something like this:

[code]

[2015-10-14 15:26] #43 closed

[2015-10-14 15:47] doomspork commented on #29
I have put together a sample Phoenix application @ [doomspork/phoenix_slim_example](https://github.com/doomspork/phoenix_slim_example).  I'd still like to make one for SlimFast + Plug.

[2015-11-01 09:23] lephyrius opened #52 "Better syntax error messages"
`** (SyntaxError) web/templates/page/index.html.slim:1: syntax error before: '|'`
`** (SyntaxError) web/templates/layout/app.html.slim:1: unexpected token: "}". "(" starting at line 1 is missing terminator ")"`
I've been trying to convert from ruby slim to slim fast. It's annoying to only get "line 1 syntax errors".
Have I missed some configuration setting?
Is this planned on making it better in t

[2015-11-01 16:14] doomspork commented on #52
Hi @lephyrius, thanks for checking out `slim_fast`!  We've been hard at work on adding slim parsing and error messaging has not been fleshed out.  You're right though, it's annoying when you need to debug!

One of the problems at play is how we do parsing and evaluation.  In the current implementation `slim` parsed into a long `eex` string and then evaluated.  I suspect that's why the errors are a

[2015-11-06 18:48] doomspork commented on #49
We're not going support this, see #51 for conversation.

[2015-11-06 18:48] #49 closed

[2015-11-06 23:54] henrik opened #55 "Rename project?"
Should we rename the project? It's similar but not identical to Ruby Slim.

Earlier discussion: https://github.com/doomspork/slim_fast/pull/54#issuecomment-154556365

[2015-11-07 01:45] doomspork commented on #55
There are two topics of discussion, right?  The first being whether we deviate from the official Slim standard like Jade and the second being a possible name change.

I'm really fascinated by your suggestion RE: Jade, it opens up a lot of possibilities.  There may be things specific to Elixir that would make sense being included in concise markup such as this.  For me this is particularly exciting

[2015-11-07 08:26] henrik commented on #55
Yeah, you could definitely see it as two questions.

The idea of possibly breaking away further from Ruby Slim is inspired a lot by @joakimk's idea that we could reimagine what a Slim-like language might look like if it was written for Elixir to begin with.

About the name change, my thinking is that it could help set expectations. I was a bit confused initially by something called "Slim" (well, "

[2015-11-07 08:41] henrik commented on #55
…but I don't feel very strongly about the name change. If we decide to stick with something close to Ruby Slim, with only minor language-related differences, I could definitely see us sticking with this name. Especially now that these differences are much clearer in the README.

[2015-11-07 08:46] henrik opened #56 "Language reference/guide"
It would be great to have a language guide somewhere, something like http://jade-lang.com/reference/ or http://www.rubydoc.info/gems/slim/frames. It could go through all the syntax we support, with examples. Especially seeing as we don't map exactly to Ruby Slim.

We could also mention any current limitations with stuff we have yet to implement, gotchas and such.

https://github.com/elixir-lang/ex

[2015-11-07 10:29] #48 closed

[2015-11-07 10:59] henrik opened #57 "Automatically self-close some tags"
With #50 we can explicitly ask for a self-closing tag.

Ruby Slim also *automatically* closes the usual suspects – [see docs](http://www.rubydoc.info/gems/slim/frames#Closed_tags__trailing___):

We don't seem to do that currently, but it might be fairly easy to add on top of @vicmargar's work in #50.

List of self-closing tags: http://stackoverflow.com/questions/13915201/what-tags-in-html5-are-ack

[2015-11-07 12:13] joakimk commented on #55
I like the idea of a name change. Keep "Slim-like" in the salespitch (if nothing else for googleability), but document what this template format can do rather than what's different from slim. That way we could start small and increase the number of features as we go (as they are needed) and not feel like we're fightning to catch up with slim.

A 1.0 of an elixir slim-like template format, a stable

[2015-11-07 12:51] henrik commented on #56
Also see Calliope for inspiration: https://github.com/nurugger07/calliope#embedded-elixir

[2015-11-07 15:28] doomspork commented on #57
Sounds good to me.  Seems like a pretty straightforward addition.

[2015-11-07 15:31] doomspork commented on #46
This is less relevant now that we're considering deviating from the official Slim spec.

[2015-11-07 15:31] #46 closed

[2015-11-08 19:12] doomspork commented on #55
Good point about 1.0 @joakimk, I think makes a lot of sense.

Ha! @henrik I honestly hadn't thought about "Slim but faster" until now.  The name is from a weight loss shake that was popular in the US in the 90s.  I was actually trying to come up with a name that would stick with an "elixir" theme.  The "Slim" portion was a bonus.

:+1: I'm on board with brainstorming some new names.

[2015-11-08 20:31] henrik commented on #55
Haha, oh, didn't get that reference at all I'm afraid :D Clever!

[2015-11-08 22:23] joakimk commented on #55
Maybe something related to printing information, like "scroll" or "tome".

I like "tome", 4 characters and easy to spell: slim tome jade haml.

[2015-11-17 23:43] lpil commented on #56
:+1:

[2015-11-17 23:47] lpil commented on #47
I think benchmarking against Ruby slim is kind of pointless. I'd be more interested against benchmarks against other Elixir template engines, such as `eex`, something that does haml, etc.

[2015-11-17 23:49] lpil commented on #55
I support a name change as it will reduce confusion over the syntactic differences between Ruby slim and this one.

[2015-11-18 01:03] doomspork commented on #47
The benchmarking was always for fun.  When the original goal was to create an official Slim implementation it would have been neat to see how they compared.

[2015-11-18 01:03] #47 closed

[2015-11-18 06:37] henrik commented on #47
That is a very good point. Also easier to do… :)

Sent from my iPhone

[2015-11-21 20:51] doomspork commented on #55
@joakimk I like the idea of using a shorter name.

Couple quick ideas:
- Drip
- Mex (Minimal Eex)

Any other suggestions?  I'll try to think of a few more and we can pull them together and figure out what works best.

Thanks everyone :+1:!

[2015-11-21 21:02] henrik commented on #55
I still kind of like "Slime". It's liquid(ish) like an elixir, and is reminiscent of "Slim". But maybe too similar.

[2015-11-22 10:28] joakimk commented on #55
So then you've got slime all over your web application... :+1:

Best so far I think (no particular order): "slime", "mex", "tome".

[2015-11-22 13:14] lpil commented on #55
I quite like Scroll, as suggested by Joakimk.

Slime makes me think of emacs SLIME and vim-slime.

[2015-12-26 09:57] lpil opened #58 "Benchmarks against eex, calliope, etc."
It'd be great if we can see how this library performs.

[2015-12-26 10:03] lpil commented on #55
Have we made a decision? @doomspork, as the projects benevolent dictator why not just pick something? :)

[2015-12-26 11:24] lpil commented on #56
I'm gunna start working on this.

[2015-12-26 11:32] lpil opened #59 "How to use Elixir `case` expression"
Hello!

How does one use this expression in these templates?

[2015-12-26 12:10] lpil commented on #28
What would this executable do?

[2015-12-26 12:18] lpil opened #61 "Support `element= expression` syntax"
I think that the two expressions below should be equivalent, but they are not.

[code]
[code]

[2015-12-26 17:42] doomspork commented on #55
Hi @lpil, thanks for the note.  I can certainly pick a name but I wanted to let everyone have a chance to cast a vote :grinning:

[2015-12-26 17:44] doomspork commented on #58
This is a great idea.  Is this something you're interested in tackling @lpil?  @henrik I know you started on some benchmarking, would you be interested in helping with this?

[2015-12-26 17:48] doomspork commented on #28
Truth be told @lpil I hadn't thought this through entirely.  Originally my plan was to investigate the feasibility of precompiling pages to eex to eliminate the SlimFast engine from the request stack.

This may no longer make sense in which case we can close the issue.

[2015-12-26 17:48] doomspork commented on #29
I think the Phoenix example is adequate for now so I'm closing this.

[2015-12-26 17:48] #29 closed

[2015-12-26 17:49] doomspork commented on #61
At first glance this looks like a bug.  Thanks for filing @lpil! :+1:

[2015-12-26 18:06] joakimk commented on #55
Put up a vote somewhere and link it here?

[2015-12-27 14:09] lpil commented on #58
The problem I'm having is that I don't really know how to go about comparing like with like. Do we render HTML pages that are equivalent, even though the output would differ due to this library effectively doing HTML minification, while EEx would not?

[2015-12-27 14:10] lpil commented on #55
I'll also vote with @henrik and @joakimk in favour of Slime.

[2015-12-27 14:55] lpil opened #64 "Why do we sometimes render void tags with a redundant slash?"
[code]

Shouldn't we always use the latter?

[2015-12-27 15:37] lpil opened #66 "id attributes are not merged"
[code]

This fails.

[2015-12-27 17:22] henrik commented on #64
I guess it depends on if we want to support any doctype. IIRC at least XHTML requires the slashes.

If we exclude certain doctypes we should probably not allow declaring them.

Sent from my iPhone

[2015-12-27 17:32] lpil opened #67 "Refactor Slime.Parser"
I'm finding this module very difficult to read and to modify, and I think it would be a good candidate for refactoring.

Use of module attributes over string literals makes it difficult to understand which function definition is going to match without scrolling to the top of the module to read their assignments.

Lots of the functions are complex and difficult to understand the intent of.

[2015-12-27 17:41] #57 closed

[2015-12-27 17:43] doomspork commented on #66
I don't believe this is intended behavior or should be added.  The resulting HTML appears to be invalid:

HTML4: http://www.w3.org/TR/html4/types.html#type-id
HTML5: http://www.w3.org/TR/html5/dom.html#the-id-attribute

[2015-12-27 17:45] doomspork commented on #67
I'm almost always onboard with refactors so this sound good to me.  The goal was to ship something and then make it better.  Now is the making better part :grinning:

[2015-12-27 17:58] lpil commented on #66
Huh. I'd no idea.

[2015-12-27 17:58] #66 closed

[2015-12-27 18:00] doomspork commented on #66
I just learned it myself! :grinning:

[2015-12-27 18:11] lpil commented on #64
Makes sense.

[2015-12-27 18:11] #64 closed

[2015-12-27 20:39] lpil opened #69 "Use a struct to represent a parsed line in Slime.Parser"
A large unlabelled tuple is much less clear and harder to modify than a struct.

[2015-12-27 20:53] doomspork commented on #69
:+1:

[2015-12-27 21:20] doomspork commented on #55
Slime it is.  @lpil and I are going to move everything over.  Also created a GitHub org for slime-lang.  Transferred over slim_fast, phoenix_slim, and phoenix_slim_example.

[2015-12-27 21:20] #55 closed

[2015-12-27 22:08] lpil opened #73 "Use the yecc parser generator instead of lots of regexes"
Pygments has a BNF we might be able to use.

https://bitbucket.org/birkenfeld/pygments-main/src/cb583a0e37c776b77e3c49200c1658c920e9845a/pygments/lexers/webmisc.py?at=default&fileviewer=file-view-default#webmisc.py-885

This isn't something I know anything about, so should be fun!

https://en.wikipedia.org/wiki/Backus%E2%80%93Naur_Form

[2015-12-27 23:03] lpil commented on #61
Fixed.

[2015-12-27 23:03] #61 closed

[2015-12-27 23:04] #56 closed

[2015-12-27 23:05] lpil opened #74 "Reference website hosted on github pages"
Much like http://jade-lang.com/reference/

[2015-12-27 23:25] doomspork commented on #73
Sounds new and exciting to me.  I'm down to learn more about Yecc

[2015-12-28 07:38] Rakoth commented on #73
I was trying to use leex and yecc to replace current parser (actually lexer) and compiler + tree (parser), but without success. Main problem with leex lexer: there is no way to match beginning of line. I have no experience with this, though. Also this guys was trying to do the same https://github.com/sydneyelixir/slex .
I came across this project: https://github.com/seancribbs/neotoma it looks lik

[2015-12-28 10:19] lpil commented on #73
I'm confused, I thought it was pretty much just a mapping of RE regex to tokens? Is that not the case?

Can we anchor onto the previous line's newline rather than start of line?

I'd like to avoid stepping out of the standard library. If we can't use leex and yecc we can just clean up our hand rolled parser.

[2015-12-28 10:22] lpil commented on #74
https://github.com/slime-lang/slime-lang.github.io

[2015-12-28 10:30] lpil opened #76 "Replace the Branch struct with various different structs, one for each type of Slime node"
Structs will then only have properties relevant to them, and we can dispatch to the render function using a protocol if we please.

[2015-12-28 16:53] doomspork commented on #74
Also available @ http://slime-lang.com/

[2015-12-28 20:18] lpil opened #77 "Come up with a catchy tag line / description"
Slim:

Jade:

HAML:

[2015-12-30 22:28] lpil commented on #74
See https://github.com/slime-lang/slime-lang.github.io

[2015-12-30 22:28] #74 closed

[2015-12-30 22:36] lpil opened #79 "Remove unqualified import statements"
Unqualified import statements make it unclear where functions are defined, and offer no advantage over full qualified names, or aliased names.

[2015-12-31 00:23] lpil opened #81 "Document public API in README"
- [ ] Slime.render/1
- [ ] Slime.render/2
- [ ] Slime.function_from_string/5
- [ ] Slime.function_from_file/5

[2015-12-31 00:53] lpil opened #82 "Should we be converting all tags and some attribute values to atoms?"
https://github.com/slime-lang/slime/blob/9f9ce38cd7262a8717793b9c5932f13043e8dd36/lib/slime/parser.ex#L94

https://github.com/slime-lang/slime/blob/9f9ce38cd7262a8717793b9c5932f13043e8dd36/lib/slime/parser.ex#L203

https://github.com/slime-lang/slime/blob/9f9ce38cd7262a8717793b9c5932f13043e8dd36/lib/slime/parser.ex#L238

These are not garbage collected, so it seems like something we might want to

[2016-01-03 11:53] #79 closed

[2016-01-03 15:57] lpil commented on #69
Actually a record might make more sense here.

[2016-01-04 01:03] lpil commented on #73
Spent some time playing tonight. It's easy to match on the previous newline, but I know so little of this stuff everything else is very slow progress.

[2016-01-09 01:04] doomspork commented on #76
I'm going to take a shot at this, I'll have a PR for review later this evening.

[2016-01-09 19:08] #76 closed

[2016-01-09 19:24] doomspork commented on #69
A record is basically a tuple, how does that help us here?

[2016-01-09 19:27] lpil commented on #69
With a record the fields are named, which makes it much more readable, and enforces a schema on our data.

[2016-01-09 19:27] lpil commented on #69
It's only really benefit over a struct is speed. This probably doesn't matter. We can use a struct. :)

[2016-01-09 19:29] doomspork commented on #69
Thanks for clearing that up :grinning:

[2016-01-10 18:41] micahwedemeyer opened #87 "Any plans to support embedded engines?"
As in, the ability to embed markdown, javascript, coffeescript, etc, etc?

http://www.rubydoc.info/gems/slim/frames#Embedded_engines__Markdown______

I can understand if that's a far-futures goal, but if so, it might be a good idea to update the README to explicitly state that it's not supported.

[2016-01-11 03:07] lpil commented on #87
At some point, but there's a lot to do first. I'd certainly like to support markdown.

Documenting features we don't have sounds like it would cause confusion.

[2016-01-11 03:36] micahwedemeyer commented on #87
Ah, I'm sorry. I didn't realize you had set up slime-lang.com. I was still going off of slim-lang.com, and that's where my confusion came from. I get it now.

[2016-01-11 03:36] #87 closed

[2016-01-11 13:39] lpil commented on #87
It's all in-progress at the moment. Hopefully we'll have better documentation soon.

[2016-01-12 21:16] doomspork commented on #77
In addition to a catch phrase I'd like to come up with a single logo.

[2016-01-12 22:00] lpil commented on #77
That'd be great!

[2016-01-15 00:15] vtsyganov opened #88 "unescaped attributes"
Hi. Is there a way to avoid escaping of an attribute? Slim has '==' for that but looks like it doesn't work in Slime

[2016-01-15 00:47] lpil commented on #88
Sorry, could you give an example?

[2016-01-15 01:03] vtsyganov commented on #88
Sure. For example, I want to create a script tag with content window.userToken = 'some_token'
How I should do that?
Command: script == "window.userToken = '#{token}'"
Result: `<script>window.userToken = &#39;some_token&#39;</script>`

[2016-01-15 01:55] doomspork commented on #88
@vtsyganov what version are you using?  This is what I get:

[code]

[2016-01-15 06:44] Rakoth commented on #88
I believe, the problem is with engine: Phoenix.HTML.Engine

[2016-01-16 00:13] maxneuvians commented on #59
The workaround I came up with was moving the `case` statement into my phoenix view module and then invoking the function from the code. In this case I wanted to load a different layout based on the type of authenticated user.

ex:

[code]

and then in my `.slim` file I had:

[code]

Depending on your circumstances this may be preferred as you reduce the amount of logic in your templates. However,

[2016-01-16 13:45] lpil commented on #59
Thanks Max :)

[2016-01-16 19:08] henrik commented on #77
Are we aiming for catchy or informative? Not sure any of those examples are catchy as such :)

If we want to go for informative, maybe something like: "Minimalistic HTML templates for Elixir, inspired by Slim." Or "A minimalistic templating engine …" if we want to focus on that.

[2016-01-17 01:03] doomspork commented on #77
Just spitballing:

[2016-01-17 09:09] henrik commented on #77
;) (Not a good idea.)

[2016-01-17 20:13] lpil commented on #77
Works for me.

[2016-01-20 08:56] lpil commented on #28
Let's close it and reopen if we have a clearer goal later :)

[2016-01-20 08:56] #28 closed

[2016-01-30 20:28] doomspork commented on #18
This has been completed.

[2016-01-30 20:28] #18 closed

[2016-01-30 21:02] lpil commented on #82
Resolved :)

[2016-01-30 21:02] #82 closed

[2016-01-31 17:38] dgmcguire commented on #73
I'm playing with this and curious if you're still wanting to replace the regex's and current implementations to use leex/yecc?  If so I'll give it a go, if not I'll just tinker around for fun.

[2016-01-31 17:42] doomspork commented on #73
Howdy @dgmcguire!  Have you seen PR #84?  @lpil took an initial stab at this.  Probably worth syncing up with him to see whether it's something he's going to continue or whether you can take over.

Thanks your interest :grinning:

[2016-01-31 17:46] lpil commented on #73
To say I took a stab is very generous. I literally just made a file, and then lost interest ;)

Certainly happy to accept contributions here!

[2016-01-31 20:24] dgmcguire commented on #73
Cool, I'm new to elixir, just got done getting a dumb application cobbled together using leex/yecc, so I'll have a go at implementing them in this project.  Don't expect much and I won't disappoint :) - my end goal will be to implement a feature for supporting a user defined config file that allows making their own tags/attr [shortcuts](http://www.rubydoc.info/gems/slim/frames#Shortcuts), but I'll

[2016-01-31 21:10] lpil commented on #73
The ability to define would come after the parsing stage, so it doesn't matter if we use leex or yecc for anything here :)

[2016-01-31 21:18] dgmcguire commented on #73
I'm not sure that's right unless you have a completely different implementation in mind than I do.  For instance, I have a wrapper around slim in ruby that expands `.klass@@users` to `<div class="klass" data-scope="users"></div>` - I'm not immediately understanding how someone could do that without new lexer/parser rules.

Am I misunderstanding something?  I'm pretty new to all these concepts, rea

[2016-01-31 21:21] lpil commented on #73
Ah, I see. I was only looking at the example that expanded `c` to `container`.

[2016-03-01 07:40] Rakoth commented on #52
I have added option to keep original lines when converting to eex template here: https://github.com/Rakoth/slime/commit/eb195b26f20dc05ccdc6b3f8751f1c7b996beb73 .
Output is a bit different with and without this option, for example `|` works like`'`, empty lines are not ignored, so this is debug-only feature and I am not sure if I should make a PR @doomspork .

To use it add this: `config :slime, :

[2016-03-01 16:06] doomspork commented on #52
@Rakoth I think this is a good idea, a PR would be worth opening.  That'll give @henrik and @lpil an opportunity to provide feedback as well.

[2016-03-10 19:35] campezzi opened #92 "Blank lines in the template generate empty divs"
When writing a template, leaving a blank line between two elements generates an empty `<div>` in the resulting HTML code. This only seems to happen if the blank line contains a certain number of whitespace characters, a common scenario when using editors that auto-indent. This doesn't seem to be the desired behavior (it does not happen in the Ruby implementation of Slim).

Example:
[code]
(note: G

[2016-03-10 19:37] lpil commented on #92
Thanks for the report :)

[2016-03-11 00:37] campezzi commented on #92
No problem. I'll try to take a look at the code later and see if I can contribute a fix!

[2016-03-15 09:45] Awea opened #93 "Attribute order matters ?"
Hi there, I've recently imported some slim template from a Ruby project, at first everything was fine. Then something happens !

I write a test in `test/rendering/attributes_test.exs` to make this more understable:

[code]

[2016-03-15 09:47] lpil commented on #93
Are you suggesting we sort the order of the attributes? I don't see the advantage of this.

[2016-03-15 09:49] Awea commented on #93
@lpil no. The second test fail with this ouput:

[code]

So in the current implementation of Slime if the id is after a class declaration it's ignored ?

[2016-03-15 10:04] lpil commented on #93
Ah, I see. Yes, this is a bug.

[2016-03-15 10:06] Awea commented on #93
An update on `@tag_regex` should fix it right ? I'm always confused by the regexs :D

[2016-03-18 16:14] #92 closed

[2016-03-18 16:15] doomspork commented on #92
@campezzi the fix for this will be released later this weekend :+1:

[2016-03-18 16:16] doomspork commented on #88
Sounds like this isn't a Slime issue so I'm going to close this.  If this comes up again we can create an issue and take another look.

[2016-03-18 16:16] #88 closed

[2016-03-20 02:09] doomspork commented on #93
Closed as part of #94.  Released as `0.12.2`

[2016-03-20 02:09] #93 closed

[2016-03-20 02:14] doomspork commented on #92
@campezzi `0.12.2` has been released with this fix.

[2016-03-20 13:12] campezzi commented on #92
Thanks, I'll give it a go!

[2016-03-21 09:11] Awea commented on #87
inline javascript support is planned ? Like:

[code]

[2016-03-21 09:19] lpil commented on #87
I think so, though there is no clear timeframe. I'm more interested in doing a major refactoring of the parser than anything else.

[2016-03-21 09:36] Awea commented on #87
@lpil sounds legit ^^

[2016-04-02 19:15] maxgronlund opened #97 "Support javascript"
Thanks for a great parser

I would love to be able to do stuff like this
[code]

[2016-04-02 21:21] lpil commented on #97
A good idea :)

[2016-04-08 13:08] koolhazcker opened #98 "Attribute list delimiter option"
Hi!

Is it possible to add something similar to slim's [Attribute list delimiter option `:attr_list_delims`](https://github.com/slim-template/slim#available-options)? It would resolve a conflict between the interpolation markers `{{ }}` some js libraries use and slime's own attribute list delimiters `{ }`.

[2016-04-08 13:29] lpil commented on #98
A good suggestion! Currently I'm interested in working on improving code quality more than introducing new features. Perhaps someone else will be interested.

[2016-04-20 02:21] jamonholmgren commented on #52
@Rakoth Do you plan to submit a PR?

[2016-04-20 02:36] Rakoth commented on #52
@jamonholmgren Yep, https://github.com/slime-lang/slime/pull/91

[2016-05-28 09:50] Awea opened #99 "Applications list in mix.exs"
I'm using Slime in a small project of mine and I recently have to deal with the release process using [exrm](https://github.com/bitwalker/exrm). For slime I have to add this to my applications list :

[code]

This shouldn't be added to this project by default ?

[2016-05-28 10:16] lpil commented on #99
Yes, I think so. PRs welcome :)

[2016-05-28 10:30] Awea commented on #99
@lpil done ^^

[2016-05-28 10:35] #99 closed

[2016-05-29 17:30] lpil commented on #73
I don't feel that yecc and leex are overly suited to the task now.

[2016-05-29 17:30] #73 closed

[2016-06-11 15:53] lessless commented on #97
Just bumped into that one - a total must have for sure! Is it in the queue?

[2016-06-11 17:34] lpil commented on #97
I'm not sure that anyone is working on features for Slime at the moment I'm afraid.

[2016-06-13 11:28] lessless commented on #97
There is a simple workaround towards this issue - wrap JS part in the `EEX` template, so this is rather _very, very good to have_, but not critical.

[2016-06-13 15:15] taakazazzz commented on #97
@lessless what do you mean exactly?

[2016-06-13 15:17] Rakoth commented on #97
I am working on it

[2016-06-14 10:50] Rakoth commented on #97
Guys, please checkout #101

[2016-06-25 15:04] #97 closed

[2016-07-22 17:36] doomspork commented on #77
Updated the project description: "Minimalistic HTML templates for Elixir, inspired by Slim."

[2016-07-22 17:36] #77 closed

[2016-07-25 16:03] lessless opened #104 "Support data-attributes with empty values"
Hello,

As of now data attributes w/o value or which value is an empty string are not being rendered.
For example:

`a.toggle.fa.fa-bars href="#" data-toggle=""` is rendered as `<a class="toggle fa fa-bars" href="#"></a>`
and the same goes for `a.toggle.fa.fa-bars href="#" data-toggle` - `<a class="toggle fa fa-bars" href="#"></a>`

I know that might sound like a not a widespread case, but it has

[2016-07-25 19:30] doomspork commented on #104
Thanks for the report @lessless!  Do you want to take a whack at fixing this?  I believe the offending line is here: https://github.com/slime-lang/slime/blob/master/lib/slime/compiler.ex#L25

[2016-07-26 03:44] lessless commented on #104
My pleasure!

Upon looking at the tests I figured out that passing boolean `true` as an attribute's value will render just attribute itself `a.toggle.fa.fa-bars href="#" data-toggle=true` -> `<a class="toggle fa fa-bars" href="#" data-toggle=""></a>`, which totally closes the second case.

As for the empty string -  I wrote following test and it passed all of a sudden

[code]

Maybe I need to upda

[2016-07-28 06:41] #98 closed

[2016-08-03 08:11] #104 closed

[2016-08-03 08:13] lessless commented on #104
My cased was  resolved  with `data-time=true` and since I don't have enough time I'll close this.
Sorry folks.

[2016-08-13 21:05] rmoorman opened #105 "Compilation warnings"
Adding slime to a project and compiling it using elixir 1.3 (1.3.2 to be precise) gives a lot of warnings like

[code]

[This gist](https://gist.github.com/rmoorman/693e14f783fe7914c89baa88818258fb) includes the full output of the compilation using a dummy project.

[2016-08-13 22:06] doomspork commented on #105
Thanks for the report @rmoorman!  We'll need to update Slime and supporting libraries for 1.3, want to take a shot at it? 😀

[2016-08-13 23:30] doomspork commented on #81
We'll rely on hexdocs.

[2016-08-13 23:30] #81 closed

[2016-08-13 23:31] doomspork commented on #58
I don't believe this adds much value, so I'm closing this.  If someone wants to do this as a blog post go for it 👍

[2016-08-13 23:31] #58 closed

[2016-08-13 23:32] doomspork commented on #52
Addressed in #91

[2016-08-13 23:32] #52 closed

[2016-08-13 23:32] #69 closed

[2016-08-14 09:12] dannote commented on #32
@doomspork Is there any progress on this issue?

[2016-08-14 19:03] doomspork commented on #32
@dannote I don't believe anyone has worked on this since there is a reasonable work-around, though it would be nice to resolve.

[2016-08-14 19:52] rmoorman commented on #105
@doomspork, I just tried to use the github master branch directly instead of the version published on hex and the warnings are gone :-). So the next hex release will do away with the warnings presumably. Sorry for the noise and keep up the good work.

[2016-08-14 19:52] #105 closed

[2016-08-14 19:54] rmoorman commented on #105
was solved by #102

[2016-08-15 14:15] doomspork commented on #105
Thank you @rmoorman, we'll cut a new version 👍

[2016-08-19 16:42] dannote commented on #59
I faced this issue too recently.

[2016-08-19 17:32] dannote commented on #67
I completely agree. It seems that the whole parser needs to be rewritten using tokenizer rather than regexp magic. That will also allow to provide adequate parse error messages. Even more, the compiler needs to be rewritten too, without using EEx templates as the middle representation.

[2016-08-19 17:51] dannote commented on #67
Maybe using `leex` would be better solution for this case.

[2016-08-19 18:29] lpil commented on #67
I've actually started working on a reimplementation, though I've not worked on it for a while due to life stuff. It's written in an extendable manner, so once ask the basic features are in I would suggest it replace slime entirely.

https://github.com/lpil/jot

[2016-08-19 20:42] doomspork commented on #67
Howdy @lpil, I was wondering why you had abandoned your efforts and left the org.  Now I see it was to roll the project as your own for those almighty GitHub stars, disappointing but not surprising.

Best of luck.  Closing this issue for the time.

[2016-08-19 20:42] #67 closed

[2016-08-20 11:11] HenriMorlaye opened #106 "Vue.js style attributes"
Vue.js uses attributes containing "@" or ":". For example
`<button @click="myfunc">`
or
`<button v-on:click="myfunc">`
These kind of attributes are not parsed correctly by slime.

[2016-08-20 17:33] sztosz opened #107 "Template don't compile with CRLF line endings ie. Windows"
When you have template like this
[code]
With standard CRLF windows endings you get:
[code]
And I don't think this being phoenix app is relevant.

When you change line endings to standard Linux ones: LF, the compilation on the same machine does not give you any error and it simply works.

[2016-08-20 22:56] lpil commented on #67
Not for stars, but to see if we could implement a Slime like templating language in Elixir in a fashion that is easy to maintain and doesn't depend on EEx :)

[2016-08-21 03:10] doomspork commented on #106
Thank you for the report @HenriMorlaye 👍

[2016-08-25 17:40] #107 closed

[2016-08-26 15:38] naps62 opened #109 "Ability to output with trailing and leading whitespace"
[The slim docs explain](http://www.rubydoc.info/gems/slim/frames#Output__) that you can use `=<` and `=>` to output an evaluated expression with a leading or trailing whitespace.

This doesn't seem to work with this library

[2016-08-29 17:32] doomspork commented on #109
Thank you for the report @naps62!  Would you like to take a stab at implementing this?

[2016-08-30 08:21] naps62 commented on #109
@doomspork I was actually trying that right after I opened the issue, but ended up being a bit more complex that I thought (or I wasn't going at it the right way)

I'll have some time again today, and will try again

[2016-09-28 18:08] marceldegraaf opened #111 "Easier spacing of HTML tags in sentences"
Is there a way to get around using lots of `'` to make sure HTML tags in sentences are spaced correctly?

This code:

[code]

Renders correctly: `<p><strong>Head's up!</strong> This is <strong>a preview</strong> of the  <strong>Foobar</strong> landing page </p>` (note the spacing before the `<strong>` tags and after the `</strong>` tags)

However, I would like to do this:

[code]

But that renders

[2016-09-29 06:02] Rakoth commented on #111
Hi! You can use `strong<>` to ensure spaces around tag
https://github.com/slim-template/slim#trailing-and-leading-whitespace--

[2016-09-29 07:52] marceldegraaf commented on #111
Oh, nice, I never knew that existed. Thanks!

[2016-09-29 07:52] #111 closed

[2016-10-24 04:34] mikelat opened #112 "empty or single space attributes are stripped"
I write something like
`option value="" choice 1`

I expect
`<option value="">choice 1</option>`

I get
`<option>choice 1</option>`

It looks like the attributes are being stripped, so I can't even add a space.

Thanks

[2016-10-24 05:41] Rakoth commented on #112
Hi @mikelat ! This is correct, since original slim-lang do the same in this case.
Use `value=true` if you want boolean-attribute like `async` or `checked`.

[2016-10-24 05:45] mikelat commented on #112
Alright, if that is what you intend then I'll work around it.

Thanks for the work you fellas put into this!

[2016-10-24 06:21] #112 closed

[2016-12-03 15:13] bfad opened #114 "Allow for unescaped text interpolation"
Slim allows for unescaped interpolation by using `#{{expression}}` (http://www.rubydoc.info/gems/slim/frames#Text_interpolation). It would be great for slime to have some way to do this as well.

This is particularly handy when needing to inject JSON data into javascript:

[code]

[2016-12-03 21:39] doomspork commented on #114
@bfad this would be a great feature to have, would you like to take a shot at adding it?

[2016-12-06 16:51] bfad commented on #114
@doomspork I took a brief look, and unfortunately I don't have the time to dig into it further right now. It looked like to me that the places where the code is parsing stuff of `:eex` need to be looked at:

https://github.com/slime-lang/slime/blob/master/lib/slime/parser.ex#L91
https://github.com/slime-lang/slime/blob/master/lib/slime/parser.ex#L138
https://github.com/slime-lang/slime/blob/master

[2016-12-22 03:00] #32 closed

[2017-01-19 02:42] phpcitizen opened #118 "Compilation errors always points line 1 in templates."
Any compilation error due to a slim template causes the error output to show as it is on line 1, which is not necessarily true, and makes it hard to debug, as an example below:

[code]

[2017-01-19 03:13] Rakoth commented on #118
Hi, @phpcitizen sounds like config option would help you.
add to your `config/dev.exs`
[code]

Keep in mind a bit different behaviour https://github.com/slime-lang/slime#debugging

[2017-01-19 16:47] bfcns commented on #118
Thanks a lot for your prompt solution/reply.

[2017-01-19 17:26] doomspork commented on #118
@Rakoth is the 💣

Glad that worked for you @phpcitizen 👍

[2017-01-19 17:26] #118 closed

[2017-02-11 21:13] darthdeus opened #119 "Ability to interpolate HTML inside text blocks"
Currently

[code]

will result in an error

[code]

[2017-02-12 17:45] doomspork commented on #119
Thanks @darthdeus!  Want to take a shot at implementing this?

[2017-03-02 12:12] almassapargali commented on #114
Currently I'm doing:

[code]

You have to pass `{:safe, str}` to tell EEX not to escape.

[2017-03-06 15:22] HenriMorlaye opened #121 "Multiline list of attributes"
Hi,
Is there a way to split long attribute lists into several lines ? I tried:
[code]
without success.

[2017-03-26 17:36] doomspork commented on #109
This was handled by @kerryb in #120

[2017-03-26 17:36] #109 closed

[2017-04-09 11:40] johannesE commented on #121
Same here. It gives me

    (Slime.TemplateSyntaxError) Can't find matching delimiter "]" in line " id="asdf""
    (slime) lib/slime/parser.ex:308: Slime.Parser.parse_wrapped_attributes/2
    (slime) lib/slime/parser.ex:216: Slime.Parser.parse_line/2
    (slime) lib/slime/parser.ex:75: Slime.Parser.parse_line/1
    (slime) lib/slime/parser.ex:47: Slime.Parser.parse_lines/2
    (slime) lib/slime/re

[2017-04-10 17:32] doomspork commented on #121
Howdy @HenriMorlaye and @johannesE, this is not currently supported.  We could certainly look into it, if either of you'd like to give it a shot PRs are welcomed 👍

[2017-04-11 08:49] johannesE commented on #121
I'm still new to elixir, but I'm giving it a try :)
My first Idea was to join these lines in the preprocessor, but if I look at the way you handle the rest of the stuff (e.g. eex lines), I guess you'd want me to add it in the parser.
Btw I love how fast the tests run. No database, dependency or anything. :-)

[2017-05-04 15:41] hubertlepicki opened #123 ""%" symbol in attributes does not work"
This is slightly weird bug. I have a use case where i want to set up some data-* attributes. I am doing it this way:

    div#foo data-label="Remaining %"

and this works great. The problem starts when I wrap this string in a function call, for example:

    div#foo data-label=gettext("Remaining %")

or

    div#foo data-label=escape_javascript("Remaining %")

I am getting the following error:

Th

[2017-05-04 16:20] Rakoth commented on #123
Hi, @hubertlepicki. Thanks for the bug report!
I would suggest to try my fork https://github.com/Rakoth/slime until #113 is merged.

[2017-05-04 18:49] vursen opened #124 "Function with multiple arguments as attribute value"
Hi! I got a problem when i use multiple argument's function:

[code]

[code]
As a temporary solution I use string interpolation:

```script src="#{static_path(@conn, "/js/main.bundle.js")}"```

[2017-05-05 03:29] Rakoth commented on #124
Hi! This is a known issue, as another work-around you can remove space after comma between arguments. Also there is PR #113 with a fix.

[2017-05-09 00:43] #106 closed

[2017-05-09 05:25] Rakoth commented on #123
closed by #113

[2017-05-09 05:25] #123 closed

[2017-05-09 05:25] Rakoth commented on #124
closed by #113

[2017-05-09 05:25] #124 closed

[2017-05-20 15:41] smpallen99 commented on #59
I have a use case where I would like support for this in the slim template. I'm working with dynamically generated templates and views for the new ExAdmin design and would prefer not to deal with adding a helper function in the view. Here is what I would like the syntax to look like:

[code]

My work around is to use an eex template for this functionality.

[2017-05-20 16:53] little-bobby-tables opened #127 "Consider removing IE conditionals (/[if IE])"
Support for conditional comments was removed in IE10, which itself has reached the end of life [more than a year ago](https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support).

That's not the main reason I'm bringing this up, however. The problem is in the way it's currently implemented in Slime: the content of the conditional is not parsed ([like it should be](https://github.com/slim

[2017-05-20 17:22] Rakoth commented on #127
+1 to drop support

[2017-05-20 17:28] Rakoth commented on #59
Hi @smpallen99, You could use embedded elixir code block, like this:
[code]

[2017-05-20 22:42] doomspork commented on #127
Let's remove it!

[2017-06-01 19:55] doomspork opened #129 "Releasing a new version"
@Rakoth we need to cut a new release with your changes and @little-bobby-tables's newest additions.  Since there has been a significant shift in the goals of the project (not an exact 1:1 w/ Slim, respecting Elixir along the way) and the implemention how do you feel about cutting `v1.0` and going from there?

[2017-06-10 12:41] Rakoth commented on #129
@doomspork with #130 merged we are good to go with 1.0 I think!

[2017-06-13 06:43] Rakoth commented on #127
closed by #128

[2017-06-13 06:43] #127 closed

[2017-06-13 06:45] Rakoth commented on #119
@darthdeus could you confirm it is fixed with current master?

[2017-06-18 13:48] little-bobby-tables commented on #129
I'm eager to use the new version in my project, so if you need any help, say, with the changelog, I'd be glad to lend a hand.

[2017-06-19 17:46] Rakoth commented on #129
Thanks, @little-bobby-tables I am on it

[2017-06-19 17:50] doomspork commented on #129
@Rakoth thank you!  You can push to hex, correct?  If you cannot, I can need to add you to hex.

[2017-06-19 19:13] Rakoth commented on #129
Done https://hex.pm/packages/slime/1.0.0

[2017-06-19 19:13] #129 closed

[2017-06-20 08:25] Rakoth opened #131 "Respect leading spaces in verbatim text"
[code]
(with 2 spaces after `'`) produces `<p> test </p>` before 1.0.0
I think we should restore this behaviour.

[2017-06-20 08:33] Rakoth commented on #119
fixed by #130

[2017-06-20 08:33] #119 closed

[2017-06-21 01:34] pikeas opened #132 "Hash sign throws warning"
a href="#" Foo

This throws a warning:

    warning: this check/guard will always yield the same result
      lib/foo/web/templates/layout/bp.html.slim:1

Although this example is a single line, the line number in the warning remains `1` for a multi-line template.

Escaping the hash sign as `\#` removes the warning.

Elixir 1.4.4 and Slime 1.0.0.

[2017-06-22 09:17] waiting-for-dev opened #133 "Dialyzer warnings"
Not sure if I should report this issue here, in `phoenix_slime` or in `phoenix`, but I can't reproduce the issue with `eex` templates, so I suspect it has to be related with `slime`. Apologies beforehand if I'm wrong or if I'm misunderstanding something, because I'm quite new to Elixir & Phoenix.

While running `dialyzer`, I get following warnings for all (except one, weirdly) slime templates:

[c

[2017-06-22 11:41] little-bobby-tables commented on #133
A file with just
[code]
or
[code]
emits these warnings for me, too.

I think they are caused by [the code Slime injects](https://github.com/slime-lang/slime/blob/master/lib/slime/compiler.ex#L71) for attribute values, or, to be precise, the way Slime decides when to inject it. The check is fairly naive and doesn't take into account the types of bindings — generating the wrapping code for e.g.`bits

[2017-06-26 05:10] #132 closed

[2017-06-28 06:27] Rakoth commented on #133
I will look into this

[2017-06-28 16:20] Rakoth commented on #133
I am not sure about test case for this issue, should I add one? @little-bobby-tables @doomspork

[2017-07-07 10:41] tmbb commented on #107
Slime doesn't strip windows line endings anymore. This issue should be reopened

[2017-07-07 15:30] #133 closed

[2017-07-11 14:22] tmbb opened #138 "New version with windows bug fix"
Should we release a 1.0.1 version to fix the windows bugs? I think it's a matter of time before other windows users are affected by the bug.

[2017-07-11 14:50] Rakoth commented on #138
Sure, @tmbb but I also want to include fix for #131 when I have a minute, I will look into it

[2017-08-22 19:18] smpallen99 opened #140 "Remove elixir 1.5 compiler warnings"
Replace Enum.filter_map with Enum.filter |> Enum.map
Replace String.strip/1 with String.trim/1
Replace ?\n argument to String.trim/2 with "\n" in tests

[2017-08-23 05:29] #140 closed

[2017-10-27 21:39] paradox460 opened #142 "Add support for leading/trailing space control to dynamic_content"
In Ruby Slim, I can write the following:

[code]

and get the following

[code]

This code causes a parsing error in slime.

----

The [Slim docs](http://www.rubydoc.info/gems/slim/frames#Output__) explicitly call out the ability to use `<` and `>` to control leading/trailing spaces with dynamic content:

It also mentions that the above syntax works with double-equals (`==`).

[2017-10-28 16:53] Rakoth commented on #142
Hi, @paradox460! Which version of Slime are you using? Just tested your example in master, it works as expected.

[2017-10-29 17:38] #131 closed

[2017-10-29 17:39] doomspork commented on #138
@Rakoth now that #143 and #144 are merged, do you want to cut a new release?  I'd be happy to do so.

[2017-10-29 18:38] Rakoth commented on #138
@doomspork yep, you good to go with new release

[2017-10-31 18:17] paradox460 commented on #142
Ah, I see that you do support it in master and 1.0, but my project is using phoenix-slime, which doesn't support more than 0.9

[2017-11-01 05:28] Rakoth commented on #142
@paradox460 you could override slime version in your project's deps:
[code]

[2017-11-01 05:28] #142 closed

[2017-11-07 17:13] #114 closed

[2017-11-08 04:20] #121 closed

[2017-11-08 04:21] #59 closed

[2017-11-10 01:02] tmbb commented on #138
It hasn't been release yet, has it?

[2017-11-10 01:14] tmbb opened #146 "Explicit <% end %> (- end) tags"
If I understand [this code](https://github.com/slime-lang/slime/blob/master/lib/slime/compiler.ex#L42) correctly, you seem to be useing some Regex-based "hack" to determine whether you need to add an `<% end %>`  tag to the block. Since you're trying to keep "close to your elixir roots", wouldn't it be better to copy what EEx does and force the user to add the `end` tag explicitly? for example:

[

[2017-11-10 01:49] Rakoth commented on #146
-1 on this, @tmbb What is the problem with regex? I think, we should keep slim -> slime migration as easy as possible.

[2017-11-10 12:24] tmbb commented on #146
It just seems brittle. But I admit I didn't try to "break" it to see how hard it would be. But yeah, compatibility with Slim is probably more important than this (I've never used Slim so I don't really care about compatibility).

[2017-11-10 12:24] #146 closed

[2017-11-17 19:11] doomspork commented on #138
@tmbb this has been released as 1.1.0 — sorry for the delay.

[2018-01-11 17:29] Rakoth commented on #138
Done

[2018-01-11 17:29] #138 closed

[2018-03-05 11:39] vivekcoder commented on #34
@henrik , you could do this
`input disabled==@meta`

[2018-03-05 14:55] henrik commented on #34
@vivekcoder It didn't work before (https://github.com/slime-lang/slime/issues/34#issuecomment-138806237) but I think @Rakoth probably fixed it in that commit :) Thanks!

[2018-07-03 05:07] doraeminemon opened #148 "How do I define javascript type in this ?"
I'm having a part of js with type=module. How do I define it in this ?
Using the normal script tag and it is inconvenient when I'm having about 20 lines of code.

[code]

[2018-07-03 06:03] Rakoth commented on #148
Hi! You could achieve this by defining custom embedded engine:

in file `config.exs`:
[code]

and engine module may look like this:
[code]

and then use it like so:

[code]

https://github.com/slime-lang/slime#embedded-engines

[2018-07-04 03:47] doraeminemon commented on #148
Thanks ! This will do.

[2018-07-04 04:20] #148 closed

[2018-07-11 07:07] navinpeiris opened #149 "New release?"
It'll be awesome if we can get a release with the commit 002e3433afea8a37722d9cf95e9a010bfe90dca2 which addresses issue #147.

Writing Vue.js templates inline is pretty cumbersome without that as you have to depend on master or use some very dodgy workarounds.

Thanks!

[2018-07-14 05:11] Rakoth commented on #149
Done https://github.com/slime-lang/slime/releases/tag/v1.2.0

[2018-07-14 05:11] #149 closed

[2018-08-18 01:17] imranismail opened #150 "Better compilation error message"
Currently the error message doesn't include the path to the template that it's compiling.

It's just showing the View's function body. Is there a way to identify which template it is failing at?

[code]

[2018-08-18 06:09] Rakoth commented on #150
Thanks for the report.
It would be great to pass template file name along with error message, do you want to look into this?

[2018-08-21 05:48] Rakoth commented on #150
@imranismail You can try installing slime from master branch, this argument error is now fixed and indentation errors have better message

[2018-09-04 11:06] imranismail opened #151 "Weird white spacing when using conditionals"
Code:

[code]

Expected Output:

[code]

Actual Output:

[code]

[2018-09-06 07:05] Rakoth commented on #151
Hi, @imranismail! Seems like `keep_lines` option is set to `true` https://github.com/slime-lang/slime#debugging

[2018-09-06 12:15] imranismail commented on #151
You're right. Sorry!

[2019-01-24 17:27] doomspork opened #152 "Support Elixir 1.8"
As raised in https://github.com/slime-lang/phoenix_slime/issues/68 we need to assess 1.8 support and incorporate any necessary changes.

[2019-01-24 17:33] stevegraham commented on #152
FYI I just ran the following on 1.8 and it worked completely fine. Not sure where my problem lies, I will try to dig in.

[code]

[2019-02-02 19:38] edisonywh opened #153 "Evaluating elixir module in custom embedded engine"
I’m having an issue with embedded engine, trying to define a custom engine called `markdown` (as per the README)

I have a `@markdown` passed down from my Phoenix controller, but it renders `@markdown` literally when I do so:

[code]

which makes obvious sense because the whole thing is passed into it, but was wondering if there's any way to evaluate the binding at that point of time and then pass

[2019-02-02 20:07] doomspork commented on #153
Howdy @edisonywh! I think there may be a misunderstanding as to how this works. I believe relevant section of the README you're looking for is here: https://github.com/slime-lang/slime#embedded-engines

I'm not entirely sure what you want to happen will though.  For example `@markdown` is not valid markdown and won't work. You'd need Slime to resolve `@markdown` to the markdown you provided and th

[2019-02-03 06:09] edisonywh commented on #153
Hey thanks for the quick reply!

What I intend to happen is that, I currently have a markdown string passed down from my phoenix controller, and I want to be able to render that in a markdown engine, but it seems like the markdown engine can only render static contents like what you suggested.

e.g:

[code]

Does that make sense? Just wondering if there's any way to render the dynamic content?

Th

[2019-02-03 12:35] Rakoth commented on #153
Hi @edisonywh! All embedded engines works at compile time, and not present at execution time in result template, unless you specifically does make an engine which will insert some kind-of helper call into template.
You could accomplish what you need with
`= MyMarkdown.render(@my_markdown_from_controller)` (assuming you have such helper for markdown)

[2019-02-07 17:35] edisonywh commented on #153
Cool I see, thanks so much for the clarification! @Rakoth

[2019-02-07 17:35] #153 closed

[2019-03-27 09:21] augnustin opened #154 "Layout inheritance"
Hey! Great templating language here! Feels very familiar from the Rails world. :-D

I was wondering if there are any layout inheritance feature implemented:

Eg.

`base.html.slim`:

[code]

`app.html.slim`:

[code]

Cheers

[2019-04-02 17:42] augnustin commented on #154
up ?

[2019-04-02 17:58] doomspork commented on #154
@augnustin no need to bump issues, we get to issues when we've got availability 😁

You should be able to call `render/3` in Slime, have you tried it?

[2019-04-19 07:41] solars opened #155 "Possible to support .leex templates?"
Hi there,

I wondered if it is possible to support .leex (liveview) templates as well?

[2019-05-01 01:54] doomspork commented on #155
@solars I don't see why not but we may need to revise the phoenix library. Would you be interested in taking a shot at that?

[2019-05-01 19:43] solars commented on #155
I'd like to - but I'm only starting with Elixir

[2019-07-02 19:22] paradox460 opened #156 "Array values for attributes are not being properly parsed"
If you supply an array value to an attribute, it is not parsed according to the Slim specification.

Input:
[code]

Expected output:
[code]

Actual output:
[code]

---

The array of attributes is not joined properly.

Poking the code revealed this structure as the parsed attributes array:

[code]

It appears that the attributes are generated into an EEX, which is then evaluated in https://github.c

[2019-07-03 10:31] Rakoth commented on #156
Thanks for the report, @paradox460! Would you like to make a fix for this in a PR?

[2019-07-03 18:39] paradox460 commented on #156
I can certainly look into it. I figured a bug would be the best place to start. Do you mind if changes to the basic parsing structure are made, to allow for detecting `[` pairs as attribute values?

[2019-07-04 06:14] Rakoth commented on #156
I think we should support not only compile-time lists in attributes, but also lists provided with variables at runtime.
[code]

[2019-07-15 21:36] paradox460 commented on #156
I've got a fix open in #157

[2019-08-22 18:21] paradox460 commented on #156
Hey @Rakoth, bumping this in case it fell through the cracks 👍

[2019-08-22 20:59] #156 closed

[2019-11-13 12:48] skovmand commented on #155
This could be really nice to have.

When using slime with Phoenix Liveview, LiveView sends the entire template to the client on every re-render instead of the template diff (which is supported for `.leex`).

See also the example in the Phoenix LiveView docs:
https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html#module-example

[2020-01-23 11:36] rjurado01 opened #159 "What is the performance compared to Eex?"
There is any benchmark about this template engine comparing it with EEx?

I love this template language but I would like to know about performance.

[2020-02-08 05:18] lobo-tuerto opened #160 "Getting an error when leaving a space between `doctype` and `html`"
Hello,
I'm just trying out Slime and while converting my `app.html.eex` file I found out that if I write this:

[code]

I get an error like:

[code]

Notice the empty line between `doctype` and `html`.
If I remove the space everything is ok.

It also works like this:

[code]

Is there any particular reason why an empty line is not allowed between the `doctype` and `html` tags?

[2020-02-10 08:20] Rakoth commented on #160
Hi, @lobo-tuerto, thanks for the report, sounds like a bug to me. Would you like to created a PR and try to fix it?

[2020-02-13 01:54] lobo-tuerto commented on #160
@Rakoth Sure, I'll take a look and take a stab at it. :)

[2020-02-13 04:40] lobo-tuerto commented on #160
@Rakoth Got a PR for this issue ready to be reviewed here: https://github.com/slime-lang/slime/pull/161 :)

[2020-02-13 04:44] lobo-tuerto commented on #159
If there aren't I think you could easily create them calling the render functions of both of them with different inputs.

And maybe write a blog post about it? :)

[2020-03-10 23:41] doomspork commented on #159
@rjurado01 what concerns for performance do you have? This is compiled along with your Elixir code, just like EEx, so its performance should be identical in the final product; unlike slim itself, there is no runtime interpretation taking place on the server for Slime( or EEx).

As @lobo-tuerto mentioned, if you wanted to compare the compilation performance then you could benchmark the two render f

[2020-03-11 07:21] rjurado01 commented on #159
@doomspork Yes, It has been helpful. Thanks.

[2020-03-11 07:21] #159 closed

[2020-03-29 04:09] Rakoth commented on #160
Fixed by #161

[2020-03-29 04:09] #160 closed

[2020-09-28 08:48] szsoppa commented on #150
Hi! I'm using the latest master version of Slime, and it seems like there is still a problem with the proper error compilation message.

Just in case, I have the proper config set:
[code]

Libs versions:
- elixir `1.11.0-rc.0`
- phoenix `1.5.5`
- phoenix_slime `0.13.1`

[2020-11-07 17:36] AbdullahDahmash opened #162 "Support colon and special character for tailwind"
Hello

I believe this issue should have handled in different way

[code]
Now it is converted to
[code]

But it should be converted to
[code]

[2020-11-08 09:56] AbdullahDahmash commented on #162
Similar to https://github.com/slim-template/slim/pull/841

[2020-11-17 18:36] doomspork commented on #162
Thanks @AbdullahDahmash! @Rakoth or I will try to get to this in the not-so-distant future but if you'd like to give it a whirl PRs are welcomed :tada:

[2020-12-05 20:00] AbdullahDahmash commented on #162
@doomspork I'm bit lost, can you give me hint where should I start?

[2021-04-28 21:18] #162 closed

[2021-05-27 14:08] rktjmp commented on #155
Should this be closed now?

On https://github.com/slime-lang/phoenix_slime, the example config lists liveview but I am not sure what level of support that implies (correct diffing, etc)

[code]

[2021-06-27 15:26] #152 closed

[2021-09-01 17:11] tensiondriven opened #166 "Support for Phoenix 1.6 & HEEx"
Phoenix 0.16 (and LiveView 0.16) introduce HEEx, which is a huge step forward, enabling semantic HTML parsing/validation.

I depend on phoenix_slime and am hopeful that the library can be updated to support HEEx. The main issues I see are:

 Support { } syntax for attributes
 Support dot-prefix for component functions (such as .form)
Since HAML/Slim/Slime reserve the dot for classes, it seems that

[2021-10-08 14:00] tensiondriven commented on #154
I do this all the time in my templates - My sense is that this issue can be closed.

[2021-10-12 13:40] doomspork commented on #154
Thank you @tensiondriven!

[2021-10-26 19:49] tensiondriven commented on #166
I have a working branch here, with the exception of a few tests.  I would love to get some feedback on the approach.

I had to fork the logic used in the `Compiler` module because the output of Compiler is different when targetting .eex vs .heex.  I didn't want to duplicate the logic, so end up using a metaprogramming approach.  I'm not sure its the right approach because of a bug I'm seeing when

[2021-11-10 08:02] johns10 opened #167 "Add Tailwind JIT Support"
Hello! I recently attempted a tailwind JIT setup on my phoenix project, and found that it didn't work. Based on what I've read, this isn't surprising, as there's a very simple regex that's used to purge template files, and it just doesn't pick up the slim classes. Has anyone had luck setting this up, and has guidance?

One quick and dirty solution I'm considering is pre-compiling the slim template

[2021-11-23 22:39] johns10 commented on #166
I'm jazzy jazzed about this @tensiondriven. Thanks for the workup. Really looking forward to this hitting the release. Slim is god's gift to templateers, and you are it's prophet.

[2021-11-23 22:56] tensiondriven commented on #166
Thanks @johns10 - getting this kind of feedback really helps motivate me.

Since posting that PR, I revisited the methodology and now have passing tests on a working branch that doesn't use the two `Compiler` modules.  I will do my best to get something for others to test soon.  It's a little tricky trying to support both EEx and HEEx, and also working with both `slime` and `phoenix_slime` but I t

[2021-11-28 05:23] tensiondriven commented on #166
I've added HEEx support to the `slime` and `phoenix_slime` repos!

Currently my forks are available at:

https://github.com/tensiondriven/slime
https://github.com/tensiondriven/phoenix_slime

Here is a simple demo app that uses the above repos:

https://github.com/tensiondriven/phoenix_slime_test

For now, you can use the above repos to generate HEEx from slime.

I haven't submitted a request to m

[2021-11-29 14:11] doomspork commented on #166
This is amazing @tensiondriven! Thanks so much for taking the initiative on this 🎉

If you want to open a PR for these changes we can get them reviewed, provide any feedback, and then merge these in and release 🚀

[2021-11-30 04:46] tensiondriven commented on #166
Alrighty, here it is!

https://github.com/slime-lang/slime/pull/168

I'm sure there are some issues lurking, partially because of the complexity of having to use both `slime` and `phoenix_slime`, and the interactions with the EEx/Liveview engine.  I'm still a bit perplexed by the boundary between Phoenix and Phoenix Live View, `Phoenix.LiveView.HTMLEngine` and `Phoenix.LiveView.Engine`.

I haven't

[2021-12-05 00:18] johns10 commented on #166
When I started my current project that we weren't supporting Phoenix 1.6 yet. I'm really pleased about this workup. Can't wait!

[2021-12-05 20:38] tensiondriven commented on #166
@doomspork I just updated the PR with a couple little changes (caught some extra logging and such) and removed "DO NOT MERGE" from the title.

Is there anything else I can do to move this forward?  Can we get the Assigned To field set for the PR maybe?

[2021-12-16 08:23] tomfarm commented on #166
Hi @tensiondriven,

thanks a lot for you work! I'm testing your pull request at the moment and it works quite well!

I'm wondering if slime supports something like Slime-Heex-Sigils. Currently there are only ~L and ~l (as far as I know) and both render as plain text when used inside the liveview `render(assigns)` function, but it may be that I'm missing something there.

As I'm not that deep insid

[2021-12-16 20:31] tensiondriven commented on #166
Yes, since phoenix_slime already has support for ~L, I don't see why we couldn't add a sigil for slime-heex.

I also wonder if it makes sense to deprecate or remove the liveview-eex (leex) functionality)... Since heex came out, I'm really not clear on the line between HEEx and LiveView.  But I guess thats another issue.

Would it make sense to take the addition of sigil support as a separate issue

[2021-12-17 07:35] tomfarm opened #169 "Support sigils for inline heex with liveview"
After #166 has been merged, maybe the next step to support phoenix heex templates could be to
introduce a sigil for slime-heex.

Currently there are only ~L and ~l (as far as I know) and both render as plain text when used inside the liveview `render(assigns) ` function, but it may be that I'm missing something there.

[code]

It would be nice though if Elixir supported sigils with multiple charac

[2021-12-17 07:36] tomfarm commented on #166
You are right, moving the sigils to a separate issue makes more sense.  👍
I've opened a new issue #169

[2021-12-28 17:52] tensiondriven commented on #166
@tomfarm Great!  Do you know who would give the LGTM on this and pull the trigger on the merge?

[2022-01-03 13:53] tomfarm commented on #166
@tensiondriven I'm sorry, I don't know.

[2022-02-09 15:18] tensiondriven commented on #167
@johns10 I've been looking into this too – It looks like the slim template language, which slime is based on, has been upgraded to support tailwind: https://github.com/slim-template/slim/pull/841 so maybe this project can take some inspiration from there.

Tailwind allows you to configure the `defaultExtractor ?` function, which is a good place to start for getting it to work with slim / leex / sh

[2022-02-20 20:59] johns10 commented on #167
Will do!

[2022-02-24 05:23] sheharyarn commented on #166
Hey @doomspork, it would be great if we can get your stamp on the linked PR and get a new version published with the changes.

[2022-04-11 14:50] Sgoettschkes opened #170 "Unmaintained neotoma uses rebar2"
When using slime (in the context of the still static page generator), I get the following error message:

neotoma seems to be unmaintained with the last commit to master in 2016.

I guess the options to go forward would be:

1. Fork neotoma and update it
2. Replace neotoma with something else

[2022-04-13 14:33] Sinc63 commented on #170
I found a fork that may resolve this but don't have time to test it yet. Check https://github.com/xio/neotoma.

[2022-04-14 12:45] cblavier commented on #170
You can also override `neotoma` dependency right from your mix file:

[code]

[2022-05-22 23:28] silverdr commented on #170
@cblavier - this doesn't seem to work. At least with Erlang/OTP 25…

[2022-05-23 10:46] latesh commented on #170
the following has worked for me as a quick fix:

[code]

[2022-05-23 19:21] silverdr commented on #170
For OTP 24 the fix suggested by @cblavier was fine. For OTP 25 neither his nor the one from @latesh seems to work anymore as now Rebar is not "OTP 25 compiled". I get
[code]

[2022-05-24 19:01] silverdr commented on #170
OK, so the current "quick fix" for OTP 25 is:
[code]
followed by `mix local.rebar`, which deals with the above mentioned error.

[2022-08-20 06:53] pepicrft commented on #170
The trick worked for me too, but [I'm using it](https://github.com/still-ex/still) from a package that I'd like to publish in the Hex registry, and this prevents me from doing it. Newbie question, is it possible to configure Neotoma to be built using `rebar3` so that it doesn't require upstream packages to do overrides?

[2022-09-01 02:47] Sinc63 commented on #170
I haven't done this sort of thing, but I would hope that if you set your mix file to use rebar3 as an override, that packages that include you as a dependency will inherit that override. You may have to create a temporary test package that imports your main package to see if it works. And let us know, either way.

[2022-11-06 17:35] silverdr opened #172 "`cond` blocks in template problem"
When trying to write `cond do` block inside a template I get
[code]
Am I doing something wrong or is this just a no-go?